In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
%matplotlib inline

In [2]:
df=pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data',header=None)

In [3]:
df.columns=['ID','Clump_thickness','Uniform_cell_size','Uniform_cell_shape','Marginal_adhesion','Singe_epithelial_cell_size','Bare_nuclei','Bland_chromatin','Normal_nucleoli','Mitoses','Class']

In [4]:
df.head()

,ID,Clump_thickness,Uniform_cell_size,Uniform_cell_shape,Marginal_adhesion,Singe_epithelial_cell_size,Bare_nuclei,Bland_chromatin,Normal_nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [6]:
df['Class']=np.where(df['Class']==2,0,1)

In [8]:
df.tail()

,ID,Clump_thickness,Uniform_cell_size,Uniform_cell_shape,Marginal_adhesion,Singe_epithelial_cell_size,Bare_nuclei,Bland_chromatin,Normal_nucleoli,Mitoses,Class
694,776715,3,1,1,1,3,2,1,1,1,0
695,841769,2,1,1,1,2,1,1,1,1,0
696,888820,5,10,10,3,7,3,8,10,2,1
697,897471,4,8,6,4,3,4,10,6,1,1
698,897471,4,8,8,5,4,5,10,4,1,1

In [10]:
df=df.drop('ID',axis=1)

In [16]:
df.sum()

Clump_thickness                                                            3088
Uniform_cell_size                                                          2191
Uniform_cell_shape                                                         2242
Marginal_adhesion                                                          1962
Singe_epithelial_cell_size                                                 2248
Bare_nuclei                   1102411010111113391111011071?17111111511111107...
Bland_chromatin                                                            2403
Normal_nucleoli                                                            2004
Mitoses                                                                    1111
Class                                                                       241
dtype: object

In [17]:
df.dtypes

Clump_thickness                int64
Uniform_cell_size              int64
Uniform_cell_shape             int64
Marginal_adhesion              int64
Singe_epithelial_cell_size     int64
Bare_nuclei                   object
Bland_chromatin                int64
Normal_nucleoli                int64
Mitoses                        int64
Class                          int32
dtype: object

In [18]:
df['Bare_nuclei']=np.where(df['Bare_nuclei']=='?', None, df['Bare_nuclei'])

In [19]:
df['Bare_nuclei']=pd.to_numeric(df['Bare_nuclei'])

In [23]:
df.isnull().sum()

Clump_thickness                0
Uniform_cell_size              0
Uniform_cell_shape             0
Marginal_adhesion              0
Singe_epithelial_cell_size     0
Bare_nuclei                   16
Bland_chromatin                0
Normal_nucleoli                0
Mitoses                        0
Class                          0
dtype: int64

In [24]:
df=df.dropna()

In [25]:
df.isnull().sum()

Clump_thickness               0
Uniform_cell_size             0
Uniform_cell_shape            0
Marginal_adhesion             0
Singe_epithelial_cell_size    0
Bare_nuclei                   0
Bland_chromatin               0
Normal_nucleoli               0
Mitoses                       0
Class                         0
dtype: int64

In [26]:
Y = df['Class']
X = df.drop('Class',axis=1)

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=.20)

In [37]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB(alpha=1)
nb.fit(X_train,Y_train)
predict = nb.predict(X_test)
print(nb.score(X_test,Y_test))

0.8686131386861314

In [38]:
from sklearn.metrics import confusion_matrix
confusion_matrix(Y_test,predict)

array([[82,  8],
       [10, 37]], dtype=int64)